.input {
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    background-color: #222240;
    color: white;
    padding: 11px 30px 11px 11px;
    border-bottom: 1px solid white;
}